{
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        // Tells eslint how to resolve imports
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        // add your custom rules here
        "no-console": "off",
        // disable warnings when logging to console
        "linebreak-style": 0,
        // disable LF and CRLF linebreak errors
        "no-plusplus": "off"
        // disable no-plusplus errors
    },
    "extends": [
        // By extending from a plugin config, we can get recommended rules without having to add them manually.
        "eslint:recommended",
        "plugin:import/recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}
